!!! 5
%html
  %head
    %title Junco
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags

  %body
    #header
      #logo Junco
      #search= render 'search/form'

    #content
      - if flash[:alert]
        #alert= flash[:alert]
      = yield

    #footer Junco is Copyright &copy; 2014 The University of Vermont.  All Rights Reserved.